{% extends 'base.html.twig' %}

{% block title %}
    <title>LibreAudio | Connexion</title>
{% endblock %}

{% block main %}
    <main>

        <a id="page-top"></a>

        <section class="login-section">

            <article class="login">
                <div class=login__title>
                    <h2>Connectez-vous pour retrouver vos livres audio favoris</h1>
                </div>
                <div class=login__form>
                    <form method="post">
                        <div>
                            <label for="inputEmail">Adresse e-mail</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" required autofocus>
                        </div>
                        <div>
                            <label for="inputPassword">Mot de passe</label>
                            <input type="password" name="password" id="inputPassword" required>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        {% if error %}
                            <div class="login__errors">
                                <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                            </div>
                        {% endif %}
                        <button type="submit">Valider</button>
                    </form>
                </div>
                <div class="login__links">
                    <p>Vous avez oublié votre mot de passe ? <a href="{{ path('app_reset_request') }}">Cliquez ici pour le réinitialiser</a>.</p>
                    <p>Vous n'avez pas encore créé votre compte LibreAudio ? <a href="{{ path('app_registration') }}">Cliquez ici pour vous inscrire</a>.</p>
                </div>
            </article>

        </section>

    </main>
{% endblock %}
