{% extends 'base.html.twig' %}

{% block title %}
    <title>LibreAudio | Inscription</title>
{% endblock %}

{% block main %}
    <main>

        <a id="page-top"></a>

        <section class="registration-section">

            <article class="registration">
                <div class="registration__title">
                    <h2>Inscrivez-vous pour enregistrer vos livres audio favoris</h2>
                </div>
                <div class="registration__form">
                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword) }}
                    <div>
                        <label for="registration_form_agreeTerms" class="required">J'accepte les <a href="{{ url('app_conditions') }}" target="_self">conditions générales d'utilisation de LibreAudio</a></label>
                        {{ form_widget(registrationForm.agreeTerms) }}
                    </div>
                    {% if form_errors(registrationForm) %}
                        <div class="registration__errors">
                            {{ form_errors(registrationForm) }}
                        </div>
                    {% endif %}
                    <button type="submit">Valider</button>
                {{ form_end(registrationForm) }}
                </div>
            </article>

        </section>

    </main>
{% endblock %}
