<p>Bonjour,<br><br>Afin de finaliser votre inscription, nous devons vérifier votre adresse e-mail. Pour ce faire, veuillez cliquer sur le lien suivant (celui-ci expirera dans une heure)&nbsp;:</p>
<div>
    <a href="{{ signedUrl|raw }}">Finaliser mon inscription</a>
</div>
<p><b>LibreAudio</b></p>
