{% extends 'base.html.twig' %}

{% block title %}
    <title>LibreAudio | Finalisation de l'inscription</title>
{% endblock %}

{% block main %}
    <main>

        <a id="page-top"></a>

        <section class="verification-section">

            <article class="verification">
                <div class="verification__title">
                    <h2>Finalisation de votre inscription</h2>
                </div>
                {% if not app.user.isVerified %}
                    <p>Un e-mail contenant un lien de vérification vous a été envoyé afin de finaliser votre inscription. Si vous ne l'avez pas reçu, pensez à consulter vos spams ou cliquez sur le lien suivant&nbsp;:</p>
                    <div class="verification__button">
                        <a href="{{ path('app_registration_verification_email') }}" target="_self">Envoyer un nouvel e-mail de vérification</a>
                    </div>
                {% else %}
                    {% for flashError in app.flashes('verify_email_error') %}
                        <p>{{ flashError }}</p>
                    {% endfor %}
                    {% for flashMessage in app.flashes('verify_email_success') %}
                        <p>{{ flashMessage }}</p>
                    {% endfor %}
                    <p>Vous êtes connecté avec l'adresse e-mail <a href="{{ app.user.getEmail }}" target="_blank">{{ app.user.getEmail }}</a>.</p>
                {% endif %}
            </article>

        </section>

    </main>
{% endblock %}
