{% extends 'base.html.twig' %}

{% block title %}
    <title>LibreAudio | Demande de réinitialisation du mot de passe</title>
{% endblock %}

{% block main %}
    <main>

        <a id="page-top"></a>

        <section class="request-section">

            <article class="request">
                <div class="request__title">
                    <h2>Demande de réinitialisation de votre mot de passe</h2>
                </div>
                <div class="request__form">
                    {{ form_start(requestForm) }}
                        <div>
                            <p>Veuillez saisir votre adresse e-mail. Nous vous enverrons un lien pour réinitialiser votre mot de passe.</p>
                        </div>
                        {{ form_row(requestForm.email) }}
                        {% if form_errors(requestForm) %}
                            <div class="request__errors">
                                {{ form_errors(requestForm) }}
                            </div>
                        {% endif %}
                        {% for flashError in app.flashes('reset_password_error') %}
                            <p>{{ flashError }}</p>
                        {% endfor %}
                        <button>Valider</button>
                    {{ form_end(requestForm) }}
                </div>
            </article>

        </section>

    </main>
{% endblock %}
