{% apply inline_css(source("@css/email.css")) %}

    <p>Bonjour,<br><br>Afin de réinitialiser votre mot de passe, nous devons tout d'abord vérifier votre adresse e-mail. Pour ce faire, veuillez cliquer sur le lien suivant (celui-ci expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }})&nbsp;:</p>
    <div>
        <a href="{{ url('app_reset', {token: resetToken.token}) }}">Réinitialiser mon mot de passe</a>
    </div>
    <p><b>LibreAudio</b></p>

{% endapply %}
