{% extends 'base.html.twig' %}

{% block title %}
    <title>LibreAudio | Réinitialisation du mot de passe</title>
{% endblock %}

{% block main %}
    <main>

        <a id="page-top"></a>

        <section class="reset-section">

            <article class="reset">
                <div class="reset__title">
                    <h2>Réinitialisation de votre mot de passe</h2>
                </div>
                <div class="reset__form">
                    {{ form_start(resetForm) }}
                        {{ form_row(resetForm.plainPassword) }}
                        {% if form_errors(resetForm) %}
                            <div class="reset__errors">
                                {{ form_errors(resetForm) }}
                            </div>
                        {% endif %}
                        <button>Valider</button>
                    {{ form_end(resetForm) }}
                </div>
            </article>

        </section>

    </main>
{% endblock %}
