{% extends 'base.html.twig' %}

{% block title %}
    <title>LibreAudio | Vérification de l'adresse e-mail</title>
{% endblock %}

{% block main %}
    <main>

        <a id="page-top"></a>

        <section class="verification-section">

            <article class="verification">
                <div class="verification__title">
                    <h2>Vérification de votre adresse e-mail</h2>
                </div>
                <p>Un e-mail contenant un lien de vérification vous a été envoyé afin de procéder à la réinitialisation de votre mot de passe. Si vous ne l'avez pas reçu, pensez à consulter vos spams ou cliquez sur le lien suivant&nbsp;:</p>
                <div class="verification__button">
                    <a href="{{ path('app_reset_request') }}" target="_self">Envoyer un nouvel e-mail de vérification</a>
                </div>
            </article>

        </section>

    </main>
{% endblock %}
