/* ===========================================================================
VARIABLES
=========================================================================== */

:root {

    /* Colors */

    --color-primary: #5b2cc9;
    --link-color: #5b2cc9;
    --link-hover-color: #3d1d86;
    --sidebar-menu-active-item-border-color: transparent;
}

/* ===========================================================================
GENERALITIES
=========================================================================== */

/* Bootstrap active page link and form check style */

.page-item.active .page-link,
.form-check-input:checked {
    background-color: #5b2cc9;
    border-color: #5b2cc9;
}

/* Hide text area table header and data cell elements */

th.header-for-field-textarea,
td.field-textarea {
    display: none;
}

@media screen and (max-width: 992px) {

    table.datagrid:not(.datagrid-empty) td.field-textarea {
        display: none;
    }
}
