@import 'utils/normalize.css';
@import 'plyr/dist/plyr.css';
@import 'partials/fonts.css';
@import 'partials/variables.css';
@import 'partials/animations.css';

/* ===========================================================================
GENERALITIES
=========================================================================== */

/* Box sizing */

* {
    box-sizing: border-box;
}

/* Smooth scrolling */

html {
    scroll-behavior: smooth;
}

/* List style */

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Link style */

a {
    font-weight: var(--medium-font-weight);
    color: var(--ocean-blue);
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    border-radius: var(--small-border-radius) var(--small-border-radius) 0 0;
    transition:
        color 200ms ease-in-out,
        box-shadow 200ms ease-in-out;
}

a:hover,
a:focus,
a:active {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

a:hover,
a:focus,
a:active {
    color: var(--raisin-black);
    box-shadow: var(--link-inset-box-shadow);
}

/* Figure and quote style */

figure,
blockquote {
    margin: 0;
}

q {
    quotes: "« " " »" "“" "”";
}

q::before {
    content: open-quote;
}

q::after {
    content: close-quote;
}

/* Fonts and colors */

body {
    font-family: var(--text-font-family);
    font-size: var(--text-font-size);
    color: var(--black);
    background-color: var(--white);
}

h1,
h2,
h3,
h4 {
    font-family: var(--title-font-family);
    color: var(--raisin-black);
}

h1,
h2 {
    margin: 2rem 0;
}

h3,
h4 {
    margin: 1rem 0;
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--semi-bold-font-weight);
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--medium-font-weight);
}

h3 {
    font-size: var(--h3-font-size);
    font-weight: var(--medium-font-weight);
}

h4 {
    font-size: var(--h4-font-size);
    font-weight: var(--medium-font-weight);
}

p {
    line-height: var(--tall-line-height);
    text-align: justify;
}

/* General grid layout */

body {
    min-height: 100vh;
    overflow-x: hidden;
    display: grid;
    grid:
        'header' auto
        'main' 1fr
        'footer' auto
        / 1fr;
}

.body--hidden-vertical-overflow {
    overflow-y: hidden;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/* ===========================================================================
HEADER
=========================================================================== */

header {
    position: sticky;
    top: 0;
    z-index: 4;
    color: var(--raisin-black);
    background-color: var(--white);
    height: var(--header-height);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--lavender-gray);
    box-shadow: var(--regular-box-shadow);
    transition:
        box-shadow 400ms ease-in-out,
        transform 400ms ease-in-out;
}

.header--hidden-position {
    transform: translateY(calc(-1 * var(--header-height)));
}

@media screen and (min-width: 768px) { /* Tablet media query */

    .header--no-box-shadow {
        box-shadow: none;
    }
}

/* Logo */

.logo__link {
    color: var(--black);
    text-decoration: none;
}

.logo__flex {
    display: flex;
    align-items: flex-end;
    margin: 0 1rem 0 0;
}

.logo__image {
    fill: var(--ocean-blue);
    height: 1.8rem;
    width: auto;
}

.logo__title {
    margin: 0 0 0 0.2rem;
}


@media screen and (min-width: 768px) { /* Tablet media query */

    .logo {
        margin: 0 1rem 0 1rem;
    }
}

@media screen and (-ms-high-contrast: active), (forced-colors: active) { /* Windows high contrast mode media query */

    .logo__image {
        fill: currentColor;
    }
}

/* Navigation */

.top-nav {
    margin: 0 0 0 1rem;
    position: relative;
    z-index: 1;
}

.top-nav__burger-button {
    background-color: transparent;
    width: 32px;
    height: 32px;
    padding: 5px 0;
    border: none;
    border-radius: var(--regular-border-radius);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-nav__burger-button-line-1,
.top-nav__burger-button-line-2,
.top-nav__burger-button-line-3 {
    width: 100%;
    height: 4px;
    border-radius: 50px;
    background-color: var(--raisin-black);
    transition: background-color 200ms ease-in-out,
        transform 200ms ease-in-out,
        opacity 200ms ease-in-out;
}


.top-nav__burger-button:active .top-nav__burger-button-line-1,
.top-nav__burger-button:active .top-nav__burger-button-line-2,
.top-nav__burger-button:active .top-nav__burger-button-line-3 {
    background-color: var(--ocean-blue);
}

.top-nav__burger-button--close .top-nav__burger-button-line-1 {
    transform: translateY(9px) rotate(45deg);
}

.top-nav__burger-button--close .top-nav__burger-button-line-2 {
    transform: scaleX(0);
    opacity: 0;
}

.top-nav__burger-button--close .top-nav__burger-button-line-3 {
    transform: translateY(-9px) rotate(-45deg);
}

.top-nav__menu {
    position: fixed;
    top: var(--header-height);
    right: 0;
    width: 100vw;
    height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    background-color: var(--white);
    padding: 2rem;
    border-left: 1px solid var(--roman-silver);
    transform:
        scaleX(0)
        translateX(100%);
    transform-origin: right;
    transition: transform 400ms ease-in-out;
}

.top-nav__menu--left-position {
    transform:
        scaleX(1)
        translateX(0);
}

.top-nav__menu li + li {
    margin: 2rem 0 0 0;
}

.top-nav__link {
    position: relative;
    display: inline-block;
    color: var(--black);
    text-decoration: none;
    padding: 0.2rem;
}

.top-nav__link:hover,
.top-nav__link:focus,
.top-nav__link:active {
    color: var(--ocean-blue);
    box-shadow: none;
}

.top-nav__link::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid  var(--ocean-blue);
    transform: scaleX(0.5);
    transition: transform 200ms ease-in-out;
}

.top-nav__link:hover::after,
.top-nav__link:focus::after,
.top-nav__link:active::after {
    transform: scaleX(1);
}

.top-nav__link--current {
    color: var(--ocean-blue);
}

.overlay {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: var(--header-height);
    right: 0;
    width: 100vw;
    height: calc(100vh - var(--header-height));
    background-color: var(--black);
    transition: visibility 400ms ease-in-out,
        opacity 400ms ease-in-out;
}

.overlay--visible {
    visibility: visible;
    opacity: 0.8;
}

@media screen and (min-width: 768px) { /* Tablet media query */

    .top-nav {
        margin: 0 1rem 0 1rem;
    }
}

@media screen and (min-width: 992px) { /* Desktop media query */

    .top-nav:hover {
        cursor: auto;
    }

    .top-nav__burger-button {
        display: none;
    }

    .top-nav__menu {
        background-color: transparent;
        position: static;
        width: auto;
        height: auto;
        padding: 0;
        overflow-y: visible;
        border-left: none;
        flex-direction: row;
        transform: none;
        transition: none;
    }

    .top-nav__menu li + li {
        margin: 0 0 0 2rem;
    }
}

/* ===========================================================================
MAIN
=========================================================================== */

/* Hero section */

.hero-section {
    padding: var(--generic-section-smartphone-padding);
}

.hero__title {
    text-align: center;
}

.hero__title h2 {
    margin: 0 0 2rem 0;
}

.hero__image {
    max-width: 500px;
    margin: auto;
}

.hero__image img {
    max-width: 100%;
}

@media screen and (min-width: 768px) { /* Tablet media query */

    .hero-section {
        padding: var(--generic-section-tablet-padding);
    }
}

/* Highlights section */

.highlights-section {
    max-width: var(--generic-section-max-width);
    margin: auto;
    padding: var(--highlights-section-smartphone-padding);
}

.highlights {
    display: grid;
    grid:
        'accessibility' auto
        'sharing' auto
        'privacy' auto
        / 1fr;
    gap: 2rem;
}

.highlights__accessibility {
    grid-area: accessibility;
}

.highlights__sharing {
    grid-area: sharing;
}

.highlights__privacy {
    grid-area: privacy;
}

.highlights__accessibility,
.highlights__sharing,
.highlights__privacy {
    display: grid;
    grid:
        'image title' auto
        'image text' 1fr
        / auto 1fr;
    column-gap: 1rem;
    row-gap: 0.5rem;
}

.highlights__accessibility-image,
.highlights__sharing-image,
.highlights__privacy-image {
    grid-area: image;
    display: block;
    width: 48px;
    height: 48px;
    fill: var(--ocean-blue);
}

.highlights__accessibility-title,
.highlights__sharing-title,
.highlights__privacy-title {
    grid-area: title;
    color: var(--raisin-black);
    font-weight: var(--bold-font-weight);
    margin: 0;
}

.highlights__accessibility-text,
.highlights__sharing-text,
.highlights__privacy-text {
    grid-area: text;
    margin: 0;
}

@media screen and (min-width: 768px) { /* Tablet media query */

    .highlights-section {
        padding: var(--highlights-section-tablet-padding);
    }
}

@media screen and (min-width: 992px) { /* Desktop media query */

    .highlights {
        grid:
            'accessibility sharing privacy' auto
            / 1fr 1fr 1fr;
    }

    .highlights__accessibility,
    .highlights__sharing,
    .highlights__privacy {
        row-gap: 1rem;
    }
}

/* Search box section */

.search-box-section {
    position: relative;
    width: 80%;
    margin: auto;
    padding: var(--search-box-section-smartphone-padding);
    border-top: 1px solid var(--lavender-gray);
    border-bottom: 1px solid var(--lavender-gray);
}

.search-box-section::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: -8px;
    left: calc(50% - 8px);
    transform: rotate(45deg);
    background-color: var(--white);
    border-right: 1px solid var(--lavender-gray);
    border-bottom: 1px solid var(--lavender-gray);
}

.search__title {
    color: var(--raisin-black);
    font-size: var(--h2-font-size);
    font-weight: var(--medium-font-weight);
    text-align: center;
    margin: 0 0 2rem 0;
}

.search-box-section form {
    display: grid;
    grid:
        'input' auto
        'category-select' auto
        'order-select' auto
        'button' auto
        / auto;
    place-content: start center;
    place-items: start center;
    gap: 1rem;
}

.search form div:first-child {
    grid-area: input;
}

.search form div:nth-child(2) {
    grid-area: category-select;
}

.search form div:nth-child(3) {
    grid-area: order-select;
}

.search__button {
    grid-area: button;
}

.search form div:nth-child(n+2) {
    position: relative;
}

.search__input,
.search__select,
.search__button {
    font-weight: var(--medium-font-weight);
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: 1px solid var(--ocean-blue);
    border-radius: var(--regular-border-radius);
    transition:
        color 200ms ease-in-out,
        background-color 200ms ease-in-out,
        box-shadow 200ms ease-in-out;
}

.search__input,
.search__select {
    color: var(--raisin-black);
    background-color: var(--white);
    padding: 0.6rem 2rem 0.6rem 0.6rem;
}

.search__select,
.search__button {
    cursor: pointer;
}

.search__input {
    width: 18rem;
    background-image: url('/assets/images/libreaudio-icone-rechercher.svg');
    background-position: right center;
    background-size: auto 70%;
    background-repeat: no-repeat;
}

.search__input::placeholder {
    opacity: 0.6;
}

.search__select {
    appearance: none;
    background-image: url('/assets/images/libreaudio-icone-etendre.svg');
    background-position: right center;
    background-size: auto 80%;
    background-repeat: no-repeat;
}

.search__button {
    color: var(--white);
    background-color: var(--ocean-blue);
    text-align: center;
    padding: 0.6rem;
}

.search__input:hover,
.search__input:focus,
.search__input:active,
.search__select:hover,
.search__select:focus,
.search__select:active,
.search__button:hover,
.search__button:focus,
.search__button:active {
    outline: 2px solid transparent;
    outline-offset: 2px;
    color: var(--ocean-blue);
    background-color: var(--white);
    box-shadow: var(--button-inset-box-shadow);
}

@media screen and (min-width: 768px) { /* Tablet media query */

    .search-box-section::before {
        width: 32px;
        height: 32px;
        top: -16px;
        left: calc(50% - 16px);
    }

    .search-box-section {
        padding: var(--search-box-section-tablet-padding);
    }

    .search-box-section form {
        grid:
            'input input' auto
            'category-select order-select' auto
            'button button' auto
            / auto auto;
    }
}

/* Featured section */

.featured-section {
    max-width: var(--generic-section-max-width);
    margin: auto;
    padding: var(--audiobook-section-smartphone-padding);
}

.featured {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured__most-recent,
.featured__most-viewed {
    display: flex;
    flex-direction: column;
}

.featured__most-viewed {
    margin-top: 2rem;
}

.featured__most-recent-title,
.featured__most-viewed-title {
    font-size: var(--h2-font-size);
    font-weight: var(--medium-font-weight);
    text-align: center;
    margin: 0 0 1rem 0;
}

.featured__most-recent-audiobook,
.featured__most-viewed-audiobook {
    flex-grow: 1;
}


@media screen and (min-width: 768px) { /* Tablet media query */

    .featured-section {
        padding: var(--audiobook-section-tablet-padding);
    }

    .featured {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }

    .featured__most-recent,
    .featured__most-viewed {
        width: 46%;
    }

    .featured__most-viewed {
        margin-top: 0;
    }
}

/* Library section and pagination */

.library-section {
    max-width: var(--generic-section-max-width);
    margin: auto;
    padding: var(--audiobook-section-smartphone-padding);
}

.library__title {
    position: relative;
    z-index: 3;
    background-color: var(--white);
    margin-right: calc((100vw - 100%) / -2);
    margin-left: calc((100vw - 100%) / -2);
    padding: 0 0.5rem 1rem 0.5rem;
    text-align: center;
}

.library__title h2 {
    margin: 0;
}


.library__search-bar {
    color: var(--raisin-black);
    background-color: var(--white);
    margin-right: calc((100vw - 100%) / -2);
    margin-left: calc((100vw - 100%) / -2);
    margin-bottom: 1rem;
    padding: 1rem 0.5rem;
    border-bottom: 1px solid var(--white);
    transition:
        border 400ms ease-in-out,
        box-shadow 400ms ease-in-out,
        transform 400ms ease-in-out;
}

.library__search-bar form {
    display: grid;
    grid:
        'input' auto
        'category-select' auto
        'order-select' auto
        'button' auto
        / auto;
    place-content: start center;
    place-items: start center;
    gap: 1rem;
}

.library__no-result {
    max-width: max-content;
    min-width: min-content;
    margin: auto;
    padding: 2rem;
}

.library__no-result p {
    margin: 0;
    text-align: center;
}

.library__no-result p + p {
    margin: 1rem 0 0 0;
}

.library__no-result span {
    color: var(--ocean-blue);
    font-weight: var(--medium-font-weight);
}

.pagination {
    color: var(--raisin-black);
    margin: 2rem auto 0 auto;
}

.pagination__page-list {
    display: flex;
    justify-content: center;
}

.pagination__page {
    border: 1px solid var(--ocean-blue);
    border-radius: var(--regular-border-radius);
}

.pagination__page + .pagination__page {
    margin: 0 0 0 1rem;
}

.pagination__page--current {
    color: var(--russian-violet);
    background-color: var(--maximum-blue-purple);
    border: 1px solid var(--russian-violet);
    cursor: default;
}

.pagination__page a,
.pagination__page--current span,
.pagination__ellipsis span {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--semi-bold-font-weight);
}

.pagination__page a {
    color: var(--raison-black);
    text-decoration: none;
    transition:
        color 200ms ease-in-out,
        box-shadow 200ms ease-in-out;
}

.pagination__page a:hover,
.pagination__page a:focus,
.pagination__page a:active {
    color: var(--ocean-blue);
    box-shadow: var(--button-inset-box-shadow);
}

@media screen and (min-width: 768px) { /* Tablet media query */

    .library-section {
        padding: var(--generic-section-tablet-padding);
    }

    .library__title {
        padding: 0 2rem 2rem 2rem;
    }

    .library__search-bar {
        position: sticky;
        z-index: 2;
        top: var(--header-height);
    }

    .library__search-bar--sticky-style {
        border-bottom: 1px solid var(--lavender-gray);
        box-shadow: var(--regular-box-shadow);
    }

    .library__search-bar--top-position {
        transform: translateY(calc(-1 * var(--header-height)));
    }

    .library__search-bar form {
        grid:
            'input category-select order-select' auto
            'button button button' auto
            / auto auto auto;
    }

    .pagination__page a,
    .pagination__page--current span,
    .pagination__ellipsis span {
        width: 3rem;
        height: 3rem;
    }
}

@media screen and (min-width: 992px) { /* Desktop media query */

    .library__search-bar form {
        grid:
            'input category-select order-select button' auto
            / auto auto auto auto;
    }
}

/* Audiobook section */

.audiobook-section {
    max-width: var(--generic-section-max-width);
    margin: auto;
    padding: var(--audiobook-section-smartphone-padding);
}

.audiobook,
.audiobook-preview {
    position: relative;
    background-color: var(--white);
}

.audiobook-preview {
    padding: 2rem 1rem;
    border: 1px solid var(--ocean-blue);
    border-radius: var(--regular-border-radius);
}

.audiobook-preview + .audiobook-preview {
    margin-top: 2rem;
}

.audiobook__header,
.audiobook-preview__header {
    display: grid;
    margin: 0 0 2rem 0;
}

.audiobook__header {
    grid:
        '. . title . bookmark' auto
        'authors authors authors authors authors' auto
        '. . . . .' 1rem
        'categories categories categories categories categories' auto
        '. . . . .' 2rem
        'data data data data data' auto
        / 1fr 1rem auto 1rem 1fr;
    place-items: start center;
    text-align: center;
}

.audiobook-preview__header {
    grid:
        'title . bookmark . categories' auto
        'authors authors authors . categories' 1fr
        '. . . . categories' 1rem
        'data data data data categories' auto
        / auto 1rem 1fr 2rem 1fr;
    place-items: start start;
}

.audiobook__title,
.audiobook-preview__title {
    grid-area: title;
    margin: 0 0 0.6rem 0;
}

.audiobook-preview__title a {
    color: var(--raison-black);
    text-decoration: none;
    transition: color 200ms ease-in-out;
}

.audiobook-preview__title a:hover,
.audiobook-preview__title a:focus,
.audiobook-preview__title a:active {
    outline: none;
    color: var(--ocean-blue);
    border-radius: 0;
    box-shadow: none;
}

.audiobook-preview__title a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: box-shadow 200ms ease-in-out;
}

.audiobook-preview__title a:hover::before,
.audiobook-preview__title a:focus::before,
.audiobook-preview__title a:active::before {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: var(--button-inset-box-shadow);
}

.audiobook__bookmark,
.audiobook-preview__bookmark {
    grid-area: bookmark;
    z-index: 1;
    position: relative;
    bottom: 4px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    background-image: url('/assets/images/libreaudio-icone-marque-page-vide.svg');
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    padding: 0;
    border: 1px solid var(--roman-silver);
    border-radius: 50%;
    cursor: pointer;
    transition:
        border 200ms ease-in-out,
        box-shadow 200ms ease-in-out;
}

.audiobook__bookmark {
    place-self: start start;
}

.audiobook__bookmark:hover,
.audiobook__bookmark:focus,
.audiobook__bookmark:active,
.audiobook-preview__bookmark:hover,
.audiobook-preview__bookmark:focus,
.audiobook-preview__bookmark:active {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border: 1px solid var(--ocean-blue);
    box-shadow: var(--button-inset-box-shadow);
}

.audiobook__bookmark--filled,
.audiobook-preview__bookmark--filled {
    background-image: url('/assets/images/libreaudio-icone-marque-page-plein.svg');
}

.audiobook__authors,
.audiobook-preview__authors {
    grid-area: authors;
    z-index: 1;
    font-family: var(--title-font-family);
    font-size: var(--h4-font-size);
}

.audiobook__data,
.audiobook-preview__data {
    grid-area: data;
    line-height: var(--medium-line-height);
}

.audiobook__data {
    place-self: start start;
    text-align: left;
}

.audiobook__data ul,
.audiobook-preview__data ul {
    display: inline;
}

.audiobook__authors > li + li,
.audiobook__data > li + li,
.audiobook-preview__authors > li + li,
.audiobook-preview__data > li + li {
    margin: 0.6rem 0 0 0;
}

.audiobook__categories,
.audiobook-preview__categories {
    grid-area: categories;
    display: grid;
    gap: 0.6rem;
    font-size: var(--small-text-font-size);
}

.audiobook__categories {
    grid: repeat(2, auto) / auto-flow;
    place-items: start center;
}

.audiobook-preview__categories {
    place-self: start end;
    grid: repeat(5, auto) / auto-flow;
    place-items: start center;
}

.audiobook__category,
.audiobook__duration,
.audiobook__reader,
.audiobook__translator,
.audiobook__source,
.audiobook__licence,
.audiobook__archive-file,
.audiobook__publication,
.audiobook-preview__category,
.audiobook-preview__duration,
.audiobook-preview__reader {
    display: inline;
    font-weight: var(--medium-font-weight);
}

.audiobook__category::before,
.audiobook-preview__category::before {
    content: '#';
    color: var(--ocean-blue);
}

.audiobook__reader:not(:only-child, :last-child)::after,
.audiobook__translator:not(:only-child, :last-child)::after,
.audiobook__licence:not(:only-child, :last-child)::after,
.audiobook__archive-file:not(:only-child, :last-child)::after,
.audiobook-preview__reader:not(:only-child, :last-child)::after {
    content:', ';
}

.audiobook__wikipedia {
    margin: 0 0 2rem 0;
}

.audiobook__summary,
.audiobook-preview__summary {
    padding-left: 1rem;
    border-left: 2px solid var(--maximum-blue-purple);
}

.audiobook__summary p,
.audiobook__summary figcaption {
    margin: 1rem 0 0 0;
}

.audiobook__summary p:first-child::first-letter {
    color: var(--ocean-blue);
    font-family: var(--title-font-family);
    font-weight: var(--semi-bold-font-weight);
    font-size: 150%;
}

.audiobook-preview__summary p:first-child {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 2rem 0 0 0;
}

.audiobook-preview__summary p:nth-child(n+2),
.audiobook-preview__summary figcaption {
    display: none;
}

@media screen and (min-width: 768px) { /* Tablet media query */

    .audiobook-section {
        padding: var(--generic-section-tablet-padding);
    }

    .audiobook-preview {
        padding: 2rem;
    }
}

/* Audio player */

.audio-player {
    margin-top: 1rem;
}

.audio-player__header {
    position: sticky;
    z-index: 2;
    top: 65px;
    background-color: var(--russian-violet);
    border-radius: var(--regular-border-radius);
    transition:
        margin 400ms ease-in-out,
        border-radius 400ms ease-in-out,
        box-shadow 400ms ease-in-out,
        transform 400ms ease-in-out;
}

.audio-player__header--sticky-style {
    margin-right: calc((100vw - 100%) / -2);
    margin-left: calc((100vw - 100%) / -2);
    border-radius: 0;
    box-shadow: var(--regular-box-shadow);
}

.audio-player__header--top-position {
    transform: translateY(calc(-1 * var(--header-height)));
}

.plyr {
    max-width: calc(var(--generic-section-max-width) + 10rem);
    margin: auto;
}

.plyr__controls {
    height: 52px;
}

.plyr__control {
    transition:
        color 200ms ease-in-out,
        background-color 200ms ease-in-out;
}

.plyr__control:hover
.plyr__control:focus,
.plyr__control:active {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.plyr__time {
    cursor: default;
}

.audio-player__custom-controls {
    position: relative;
    z-index: 1;
    color: var(--white);
    max-width: calc(var(--generic-section-max-width) + 10rem);
    margin: auto;
    padding: 0 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.audio-player__data {
    position: relative;
    flex-grow: 1;
    width: 0;
    white-space: nowrap;
    overflow-x: hidden;
    text-align: center;
}

.audio-player__data::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 1rem;
    height: 100%;
    background-image: linear-gradient(90deg, var(--russian-violet) 0%, transparent 100%);
}

.audio-player__data::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 1rem;
    height: 100%;
    background-image: linear-gradient(270deg, var(--russian-violet) 0%, transparent 100%);
}

.audio-player__data cite {
    display: inline-block;
    padding: 0 1rem;
    font-weight: var(--medium-font-weight);
    font-style: normal;
    cursor: default;
}

.audio-player__data--single-auto-scroll cite {
    animation: single-auto-scroll var(--auto-scroll-duration) linear;
}

.audio-player__data--infinite-auto-scroll cite {
    padding: 0;
    animation: infinite-auto-scroll var(--auto-scroll-duration) linear infinite;
}

.audio-player__previous-button,
.audio-player__next-button {
    width: 32px;
    height: 32px;
    background-color: transparent;
    padding: 0;
    border: none;
    border-radius: var(--regular-border-radius);
    cursor: pointer;
    flex-shrink: 0;
    transition: background-color 200ms ease-in-out;
}

.audio-player__previous-button {
    margin: 0 1rem 0 0;
}

.audio-player__next-button {
    margin: 0 0 0 1rem;
}

.audio-player__previous-button:hover,
.audio-player__previous-button:focus,
.audio-player__previous-button:active,
.audio-player__next-button:hover,
.audio-player__next-button:focus,
.audio-player__next-button:active {
    outline: 2px solid transparent;
    outline-offset: 2px;
    background-color: var(--maximum-blue-purple);
}

.audio-player__previous-button svg,
.audio-player__next-button svg {
    fill: var(--white);
    width: 100%;
    height: 100%;
    transition: fill 200ms ease-in-out;
}

.audio-player__previous-button:hover svg,
.audio-player__previous-button:focus svg,
.audio-player__previous-button:active svg,
.audio-player__next-button:hover svg,
.audio-player__next-button:focus svg,
.audio-player__next-button:active svg {
    fill: var(--russian-violet);
}

.audio-player__playlist {
    margin: 1rem 0 0 0;
}

.audio-player__playlist li {
    font-weight: var(--regular-font-weight);
    color: var(--black);
    background-color: var(--cultured);
    padding: 1rem 0.5rem;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 200ms ease-in-out;
}

.audio-player__playlist li:hover,
.audio-player__playlist li:focus,
li.audio-player__active-track {
    outline: 2px solid transparent;
    outline-offset: 2px;
    background-color: var(--maximum-blue-purple);
}

.audio-player__playlist li:first-child {
    border-radius: var(--small-border-radius) var(--small-border-radius) 0 0;
}

.audio-player__playlist li:last-child {
    border-radius: 0 0 var(--small-border-radius) var(--small-border-radius);
}

.audio-player__playlist li + li {
    border-top: 1px solid var(--roman-silver);
}

.audio-player__track-play-arrow,
.audio-player__track-waveform {
    width: 20px;
    height: 20px;
    margin: 0 0.5rem 0 0;
    display: none;
}

.audio-player__track-play-arrow--visible {
    display: block;
}

.audio-player__track-play-arrow svg {
    fill: var(--raisin-black);
    width: 100%;
    height: 100%;
}

.audio-player__track-waveform--visible {
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-player__track-waveform-1,
.audio-player__track-waveform-2,
.audio-player__track-waveform-3 {
    background-color: var(--roman-silver);
    width: 4px;
    height: 4px;
    border-radius: 50px;
}

.audio-player__track-waveform-2,
.audio-player__track-waveform-3 {
    margin: 0 0 0 2px;
}

.audio-player__track-waveform-1 {
    animation: waveform 1.2s 0ms infinite;
}

.audio-player__track-waveform-2 {
    animation: waveform 1.2s 200ms infinite;
}

.audio-player__track-waveform-3 {
    animation: waveform 1.2s 400ms infinite;
}

.audio-player__track-title {
    flex-grow: 1;
    width: 0;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.audio-player__track-duration {
    font-size: var(--small-text-font-size);
    margin: 0 0 0 1rem;
}

@media screen and (min-width: 768px) { /* Tablet media query */

    .audio-player__header--sticky-style {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .audio-player__playlist li {
        padding: 1rem;
    }

    .audio-player__track-play-arrow,
    .audio-player__track-waveform {
        margin: 0 1rem 0 0;
    }

    .audio-player__track-duration {
        margin: 0 0 0 2rem;
    }
}

@media screen and (min-width: 992px) { /* Desktop media query */

    .audio-player__header--sticky-style {
        padding-right: 4rem;
        padding-left: 4rem;
    }

    .audio-player__previous-button {
        margin: 0 1rem 0 78px;
    }

    .audio-player__next-button {
        margin: 0 78px 0 1rem;
    }
}

@media screen and (-ms-high-contrast: active), (forced-colors: active) { /* Windows high contrast mode media query */

    .audio-player__previous-button svg,
    .audio-player__next-button svg {
        fill: currentColor;
    }

    .audio-player__track-play-arrow svg {
        fill: currentColor;
    }
}

/* About, conditions, login, registration, request, reset verification & contact sections */

.about-section,
.conditions-section,
.login-section,
.registration-section,
.request-section,
.reset-section,
.verification-section,
.contact-section,
.error-section {
    max-width: var(--generic-section-max-width);
    margin: auto;
    padding: var(--generic-section-smartphone-padding);
}

.about,
.conditions,
.login,
.registration,
.request,
.reset,
.verification,
.contact,
.error {
    max-width: max-content;
    min-width: min-content;
    margin: auto;
}

.about__title,
.conditions__title,
.login__title,
.registration__title,
.request__title,
.reset__title,
.verification__title,
.contact__title,
.error__title {
    text-align: center;
}

.about__title h2,
.conditions__title h2,
.login__title h2,
.registration__title h2,
.request__title h2,
.reset__title h2,
.verification__title h2,
.contact__title h2,
.error__title h2 {
    margin: 0 0 2rem 0;
}

.conditions h3 {
    margin-top: 2rem;
}

.login ul,
.registration ul,
.request ul,
.reset ul,
.verification ul,
.contact ul {
    margin: 0;
}

.about p,
.conditions p,
.login p,
.registration p,
.request p,
.reset p,
.verification p,
.contact p,
.error p,
.login li,
.registration li,
.request li,
.reset li,
.verification li,
.contact li {
    margin: 1rem 0 0 0;
}

.login p,
.registration p,
.request p,
.reset p,
.verification p,
.contact p,
.error p,
.login li,
.registration li,
.request li,
.reset li,
.verification li,
.contact li {
    text-align: center;
}

.about__image {
    max-width: 500px;
    margin: auto;
}

.about__image img {
    width: 100%;
    height: auto;
}

.error span {
    color: var(--ocean-blue);
    font-weight: var(--medium-font-weight);
}

.login__form,
.registration__form,
.request__form,
.reset__form,
.contact__form {
    text-align: center;
}

.login__form div + div,
.registration__form div + div,
.request__form div + div,
.reset__form div + div,
.contact__form div + div {
    margin: 1rem 0 0 0;
}

.registration__form div:nth-child(3) {
    margin: 2rem 0 0 0;
}

.login__form label,
.registration__form label,
.request__form label,
.reset__form label,
.contact__form label {
    font-weight: var(--medium-font-weight);
    display: block;
    margin: 0 0 0.6rem 0;
}

.login__form input,
.registration__form input,
.request__form input,
.reset__form input,
.contact__form input,
.contact__form textarea {
    font-weight: var(--medium-font-weight);
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: var(--raisin-black);
    background-color: var(--white);
    border: 1px solid var(--ocean-blue);
    border-radius: var(--regular-border-radius);
    padding: 0.6rem;
    transition:
        color 200ms ease-in-out,
        background-color 200ms ease-in-out,
        box-shadow 200ms ease-in-out;
}

.contact__form textarea {
    resize: vertical;
    width: 90%;
    height: 14rem;
}

.login__form input:hover,
.login__form input:focus,
.login__form input:active,
.registration__form input:hover,
.registration__form input:focus,
.registration__form input:active,
.request__form input:hover,
.request__form input:focus,
.request__form input:active,
.reset__form input:hover,
.reset__form input:focus,
.reset__form input:active,
.contact__form input:hover,
.contact__form input:focus,
.contact__form input:active,
.contact__form textarea:hover,
.contact__form textarea:focus,
.contact__form textarea:active {
    outline: 2px solid transparent;
    outline-offset: 2px;
    color: var(--ocean-blue);
    background-color: var(--white);
    box-shadow: var(--button-inset-box-shadow);
}

.registration__form input[type=checkbox] {
    appearance: none;
    cursor: pointer;
    width: 1.6rem;
    height: 1.6rem;
    padding: 0;
    margin: 0;
    transition:
        color 200ms ease-in-out,
        background-color 200ms ease-in-out;
}

.registration__form input[type=checkbox]:checked {
    color: var(--white);
    background-color: var(--ocean-blue);
    background-image: url('/assets/images/libreaudio-icone-cocher.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.verification__button,
.error__button {
    text-align: center;
}

.login__form button,
.registration__form button,
.request__form button,
.reset__form button,
.contact__form button,
.verification__button a,
.error__button a {
    font-weight: var(--medium-font-weight);
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: center;
    text-decoration: none;
    color: var(--white);
    background-color: var(--ocean-blue);
    border: 1px solid var(--ocean-blue);
    border-radius: var(--regular-border-radius);
    padding: 0.6rem;
    margin: 2rem 0 0 0;
    display: inline-block;
    cursor: pointer;
    transition:
        color 200ms ease-in-out,
        background-color 200ms ease-in-out,
        box-shadow 200ms ease-in-out;
}

.login__form button:hover,
.login__form button:focus,
.login__form button:active,
.registration__form button:hover,
.registration__form button:focus,
.registration__form button:active,
.request__form button:hover,
.request__form button:focus,
.request__form button:active,
.reset__form button:hover,
.reset__form button:focus,
.reset__form button:active,
.contact__form button:hover,
.contact__form button:focus,
.contact__form button:active,
.verification__button a:hover,
.verification__button a:focus,
.verification__button a:active,
.error__button a:hover,
.error__button a:focus,
.error__button a:active {
    outline: 2px solid transparent;
    outline-offset: 2px;
    color: var(--ocean-blue);
    background-color: var(--white);
    box-shadow: var(--button-inset-box-shadow);
}

.login__errors,
.registration__errors,
.request__errors,
.reset__errors,
.contact__errors,
.verification__errors {
    color: var(--crimson-ua);
    font-weight: var(--medium-font-weight);
    text-align: center;
    margin: 1rem 0 0 0;
}

.login__links {
    margin: 2rem 0 0 0;
}

.contact__catchphrase {
    margin: 0 0 2rem 0;
}

@media screen and (min-width: 768px) { /* Tablet media query */

    .about-section,
    .conditions-section,
    .login-section,
    .registration-section,
    .request-section,
    .reset-section,
    .verification-section,
    .contact-section,
    .error-section {
        padding: var(--generic-section-tablet-padding);
    }
}

@media screen and (min-width: 992px) { /* Desktop media query */

    .about__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .about__image,
    .about__text {
        width: 46%;
        width: 46%;
    }

    .about p:first-child {
        margin: 0;
    }
}

/* ===========================================================================
FOOTER
=========================================================================== */

footer {
    text-align: center;
    color: var(--maximum-blue-purple);
    background-color: var(--russian-violet);
    padding: 2rem 2rem;
}

footer a {
    color: var(--maximum-blue-purple);
}

footer a:hover,
footer a:focus,
footer a:active {
    color: var(--russian-violet);
    text-decoration-color: var(--maximum-blue-purple);
}

/* Footnotes */

.footnotes div + div {
    margin: 1rem 0 0 0;
}

.footnotes__social {
    display: flex;
    justify-content: center;
}

.footnotes__social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}

.footnotes__social a:hover,
.footnotes__social a:focus,
.footnotes__social a:active {
    box-shadow: none;
}

.footnotes__social a + a {
    margin: 0 0 0 2rem;
}

.footnotes__social svg {
    fill: var(--maximum-blue-purple);
    width: 100%;
    height: 100%;
    transform: scale(0.9);
    transition: transform 200ms ease-in-out;
}

.footnotes__social a:hover svg,
.footnotes__social a:focus svg,
.footnotes__social a:active svg {
    transform: scale(1);
}

/* Back to top button */

.back-to-top-button {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 0.5rem;
    bottom: 2rem;
    width: 48px;
    height: 48px;
    background-color: var(--maximum-blue-purple);
    border: 1px solid var(--russian-violet);
    border-radius: 50%;
    box-shadow: var(--regular-box-shadow);
    transition:
        background-color 200ms ease-in-out,
        fill 200ms ease-in-out,
        border 200ms ease-in-out,
        opacity 400ms ease-in-out;
}

.back-to-top-button:hover,
.back-to-top-button:focus,
.back-to-top-button:active {
    background-color: var(--russian-violet);
    border: 2px solid var(--maximum-blue-purple);
    box-shadow: var(--regular-box-shadow);
}

.back-to-top-button--visible {
    opacity: 1;
    pointer-events: auto;
}

.back-to-top-button svg {
    fill: var(--russian-violet);
    width: 100%;
    height: 100%;
}

.back-to-top-button:hover svg,
.back-to-top-button:focus svg,
.back-to-top-button:active svg {
    fill: var(--maximum-blue-purple);
}

@media screen and (min-width: 768px) { /* Tablet media query */

    .back-to-top-button {
        right: 1rem;
    }
}

@media screen and (min-width: 992px) { /* Desktop media query */

    .back-to-top-button {
        right: 2rem;
    }
}
