{% extends "base.html.twig" %}

{% block title %}
    <title>LibreAudio | À propos</title>
{% endblock %}

{% block main %}
    <main>
        <section class="about-section">

            <article class="about">
                <div class="about__title">
                    <h2>Qu'est-ce que LibreAudio ?</h2>
                </div>
                <div class="about__flex">
                    <div class="about__image" aria-hidden="true">
                        <img src="{{ asset("build/images/libreaudio-a-propos-1500px.png") }}" alt="Une femme allongée sur son canapé écoute un livre audio" srcset="{{ asset("build/images/libreaudio-a-propos-1000px.png") }} 1000w, {{ asset("build/images/libreaudio-a-propos-1500px.png") }} 1500w" sizes="(max-width: 991px) 1000px, (min-width: 991px) 1500px">
                    </div>
                    <div class="about__text">
                        <p>LibreAudio est une bibliothèque de livres audio gratuite, libre et qui se veut accessible au plus grand nombre. Tous les enregistrements présents sur ce site internet sont distribués sous licences libres et sont le fruit du travail bénévole de donneuses et donneurs de voix. Ceux-ci œuvrent pour des plateformes bien connues des adeptes de livres audio, telles que <a href="https://librivox.org/" target="_blank">LibriVox</a>, <a href="https://www.audiocite.net/" target="_blank">AudioCité</a> ou <a href="http://www.litteratureaudio.com/" target="_blank">Littérature Audio</a>. Par rapport à ces immenses bibliothèques, LibreAudio a pour simple ambition de proposer une interface différente, pensée pour être en adéquation avec les usages modernes du Web et de nos outils numériques.</p>
                        <p>Précisons enfin que LibreAudio est un jeune projet qui a vocation à mûrir. Parmi les futurs axes de développement qui peuvent d'ores et déjà être dévoilés, citons bien entendu l'enrichissement de la base de données au cœur de ce site internet ainsi que l'amélioration de son degré d'accessibilité à des publics variés.</p>
                        <p>Le code source de LibreAudio est disponible sous les termes de la licence GNU GPLv3 sur un <a href="https://gitlab.com/paulnicoue/libreaudio" target="_blank">dépôt GitLab dédié</a>.</p>
                    </div>
                </div>
            </article>

        </section>

    </main>
{% endblock %}
