{% extends "base.html.twig" %}

{% block title %}
    <title>LibreAudio | {{ audiobook.getTitle() }}</title>
{% endblock %}

{% block main %}
    <main>

        <section class="audiobook-section">

            <article class="audiobook">
                <div class="audiobook__header">
                    <h2 class="audiobook__title">
                        <cite>{{ audiobook.getTitle() }}</cite>
                    </h2>
                    {% if app.user %}
                        {% if audiobook in app.user.getAudiobooks() %}
                            <button class="audiobook__bookmark audiobook__bookmark--filled" audiobook-id="{{ audiobook.getId() }}" aria-label="Retirer {{ audiobook.getTitle() }} de vos livres audio favoris"></button>
                        {% else %}
                            <button class="audiobook__bookmark" audiobook-id="{{ audiobook.getId() }}" aria-label="Ajouter {{ audiobook.getTitle() }} à vos livres audio favoris"></button>
                        {% endif %}
                    {% endif %}
                    <ul class="audiobook__authors">
                        {% for author in audiobook.getAuthors() %}
                            <li><a href="{{ url('app_author', { 'slug': author.getSlug() }) }}" target="_self">{{ author.getName() }}</a></li>
                        {% endfor %}
                    </ul>
                    <ul class="audiobook__categories">
                        {% for category in audiobook.getCategories()|sort((a, b) => a.name <=> b.name) %}
                            <li class="audiobook__category">{{ category.getName() }}</li>
                        {% endfor %}
                    </ul>
                    <ul class="audiobook__data">
                        <li>
                            <span>Durée&nbsp;: </span>
                            <span class="audiobook__duration">{{ audiobook.getDuration() }}</span>
                        </li>
                        <li>
                            <span>Narration&nbsp;: </span>
                            <ul>
                                {% for reader in audiobook.getReaders() %}
                                    <li class="audiobook__reader">{{ reader.getName() }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% if audiobook.getTranslators()|length > 0 %}
                            <li>
                                <span>Traduction&nbsp;: </span>
                                <ul>
                                    {% for translator in audiobook.getTranslators() %}
                                        <li class="audiobook__translator">{{ translator.getName() }}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                        {% if audiobook.getSource() %}
                            <li>
                                <span>Source&nbsp;: </span>
                                <span class="audiobook__source"><a href="{{ audiobook.getSource().getWebsiteLink() }}" target="_blank">{{ audiobook.getSource().getName() }}</a></span>
                            </li>
                        {% endif %}
                        {% if audiobook.getLicences()|length == 1 %}
                            <li>
                                <span>Licence&nbsp;: </span>
                                <ul>
                                    {% for licence in audiobook.getLicences() %}
                                        <li class="audiobook__licence"><a href="{{ licence.getWebsiteLink() }}" target="_blank">{{ licence.getName() }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% elseif audiobook.getLicences()|length > 1 %}
                            <li>
                                <span>Licences&nbsp;: </span>
                                <ul>
                                    {% for licence in audiobook.getLicences() %}
                                        <li class="audiobook__licence"><a href="{{ licence.getWebsiteLink() }}" target="_blank">{{ licence.getName() }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                        <li>
                            <span>Téléchargement&nbsp;: </span>
                            <ul>
                                {% for archiveFile in audiobook.getArchiveFiles() %}
                                    <li class="audiobook__archive-file"><a href="{{ asset(audiobook.getSource().getFileDirectory()~'/'~audiobook.getFileDirectory()~'/'~archiveFile.getName()) }}" download>{{ archiveFile.getFormat() }}</a>&nbsp;({{ archiveFile.getSize()|number_format(0, ',', ' ') }}&nbsp;Mo)</li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="audiobook__wikipedia">
                    <figure class="audiobook__summary">{{ audiobook.getSummary()|raw }}</figure>
                </div>
                <div class="audiobook__audio-player">
                    <div class="audio-player">
                        <div class="audio-player__header">
                            <audio id="plyr" controls></audio>
                            <div class="audio-player__custom-controls">
                                <button class="audio-player__previous-button" aria-label="Passer à la piste audio précédente">
                                    <svg viewBox="0 0 24 24" aria-hidden="true">
                                        <path d="M7 6c.55 0 1 .45 1 1v10c0 .55-.45 1-1 1s-1-.45-1-1V7c0-.55.45-1 1-1zm3.66 6.82l5.77 4.07c.66.47 1.58-.01 1.58-.82V7.93c0-.81-.91-1.28-1.58-.82l-5.77 4.07c-.57.4-.57 1.24 0 1.64z"/>
                                    </svg>
                                </button>
                                <div class="audio-player__data">
                                    <cite>
                                        <span class="audio-player__audiobook-title">{{ audiobook.getTitle() }}</span>
                                        <span>&nbsp;&ndash;&nbsp;</span>
                                        <span class="audio-player__active-track-title"></span>
                                    </cite>
                                </div>
                                <button class="audio-player__next-button" aria-label="Passer à la piste audio suivante">
                                    <svg viewBox="0 0 24 24" aria-hidden="true">
                                        <path d="M7.58 16.89l5.77-4.07c.56-.4.56-1.24 0-1.63L7.58 7.11C6.91 6.65 6 7.12 6 7.93v8.14c0 .81.91 1.28 1.58.82zM16 7v10c0 .55.45 1 1 1s1-.45 1-1V7c0-.55-.45-1-1-1s-1 .45-1 1z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <ul class="audio-player__playlist">
                            {% set dataId = 0 %}
                            {% for audioFile in audiobook.getAudioFiles()|sort((a, b) => a.name <=> b.name) %}
                                <li data-id="{{ dataId }}" data-src="{{ asset(audiobook.getSource().getFileDirectory()~'/'~audiobook.getFileDirectory()~'/'~audioFile.getName()) }}" data-type="{{ audioFile.getType }}" role="button" tabindex="0">
                                    <div class="audio-player__track-play-arrow" aria-hidden="true">
                                        <svg viewBox="0 0 24 24">
                                            <path d="M8 6.82v10.36c0 .79.87 1.27 1.54.84l8.14-5.18c.62-.39.62-1.29 0-1.69L9.54 5.98C8.87 5.55 8 6.03 8 6.82z"/>
                                        </svg>
                                    </div>
                                    <div class="audio-player__track-waveform" aria-hidden="true">
                                        <div class="audio-player__track-waveform-1"></div>
                                        <div class="audio-player__track-waveform-2"></div>
                                        <div class="audio-player__track-waveform-3"></div>
                                    </div>
                                    <div class="audio-player__track-title">{{ audioFile.getTitle }}</div>
                                    <div class="audio-player__track-duration">{{ audioFile.getDuration() }}</div>
                                </li>
                                {% set dataId = dataId + 1 %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </article>

        </section>

    </main>
{% endblock %}
