<!DOCTYPE html>

<html lang="fr">

<head>

    {# Basic metadata #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    {# Schema #}
    <style itemscope itemtype="https://schema.org/WebSite" itemref="schema_name schema_description schema_image"></style>

    {# Title #}
    {% block title %}
        <title>LibreAudio</title>
    {% endblock %}

    {# Description #}
    <meta name="description" content="LibreAudio est une bibliothèque de livres audio gratuite, libre et accessible.">

    {# Author #}
    <meta name="author" content="Paul Nicoué">

    {# Favicon #}
    <link rel="icon" type="image/png" href="{{ asset("build/images/libreaudio-favicon-32px.png") }}" />

    {# CSS #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('main') }}
    {% endblock %}

    {# JavaScript #}
    {% block scripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    {# Matomo #}
    <script>
        var _paq = window._paq = window._paq || [];
        _paq.push(['disableCookies']);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="https://matomo.paulnicoue.com/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>

</head>

<body id="haut-de-la-page">

    {% block header %}
        <header>

            <div class="logo" aria-hidden="true">
                <a class="logo__link" href="{{ path('app_index') }}" target="_self" aria-label="Accéder à la page d'accueil de LibreAudio" tabindex="-1">
                    <div class="logo__flex">
                        <svg class="logo__image" viewBox="0 0 2798.7454 1925.3333">
                            <g transform="matrix(1.3333333,0,0,-1.3333333,-1267.2946,3629.3332)">
                                <g transform="scale(0.1)">
                                    <path d="m 18447.7,18410.7 c -146.6,771.8 -593.9,1453.1 -1169.5,2008.2 -568.7,550 -1295.8,1021.9 -1988.7,1325.5 l -896.4,432.9 737.5,658.9 4568.4,4119.8 292.3,264 360.6,-129.4 2.8,-0.8 c 768.2,-311.6 1525.6,-723.7 2156.4,-1323.3 633.3,-590.8 1096.2,-1398.3 1242.1,-2243.4 154.2,-845.1 41.2,-1683.4 -193.9,-2448.8 -239.9,-768.6 -587.6,-1481.2 -1035,-2137.7 l -209.8,134.2 c 350.4,666.5 606.3,1397 744.1,2126.8 136.2,731 138.6,1479.2 -66.5,2143.6 -200.6,666.9 -618,1222.9 -1164.7,1629.4 -446.2,335.3 -970.9,575.6 -1523.6,757 L 16650.1,22420 c 515.9,-380.1 976.1,-805 1394.3,-1300.9 604,-725.4 1071,-1634.5 1144.7,-2611.4 85.3,-976.6 -241.1,-1914.6 -721.8,-2679.2 -484.2,-772.3 -1111,-1415.5 -1779.9,-1988.7 l -114.9,121 c 593.5,634 1129,1327.8 1494.3,2088.8 366.5,756.5 537.9,1591.7 380.9,2361.1"/>
                                    <path d="m 20653.5,15186.1 c 1264.9,804.6 2475.6,1680.2 3471.4,2741.9 994.5,1055.4 1808.8,2241.1 2295.8,3545.6 127.4,324.8 233.1,654.1 328,1001.3 l 155.9,575.6 c 78.9,255.9 187.4,491 311.2,705.7 162.6,280.4 354.4,521.5 558.3,741.4 -22.4,12.8 -40.9,19.6 -64.1,34 -352.5,261.6 -484.2,477.1 -654.8,665.7 -158.7,187.5 -306.5,348.9 -467.8,479.8 -316.5,268 -704.2,385.8 -1187.2,397 -452.3,12.8 -945.7,-107.4 -1308.6,-360.5 l -312.8,315.6 c 421.8,447 966.9,690.1 1550.5,802.3 301.5,47.6 563.9,80.5 906,43.6 317.9,-34.4 636.4,-136.1 919.2,-281.9 284,-145 533.1,-328.5 753,-501.5 66.5,-52.5 132.2,-104.5 195.8,-154.2 h -0.4 c 0,0 1083.5,-932.8 2263.4,-796.7 l 129,-385.7 c 0,0 -1649.4,-1028.5 -1974.2,-2404.4 l -103.3,-352.5 c -115,-388 -251.2,-784.6 -411.8,-1168.3 -659.3,-1536.4 -1705.1,-2865 -2927.1,-3907.5 -1225.6,-1044.7 -2580.2,-1884.5 -4009.7,-2516.2 -1422.7,-647.3 -2900.6,-1126.7 -4399.9,-1473.9 l -53.2,157.4 c 1397,627.2 2760.4,1305.3 4037.4,2096.4"/>
                                    <path d="m 16268.9,18322.6 h 3.2 c 0,0 -950.9,2669.6 -6767.39,2810.6 l 5835.69,5039 2055.6,-333.6 -4370.3,-3827.5 c 559.2,-199.9 1098.3,-441 1630.2,-736.6 980.9,-557.1 1953.8,-1363.8 2395.6,-2516.2 218.3,-567.1 273.2,-1182.7 199,-1755 -73.2,-575.2 -260.3,-1111.1 -497.8,-1606.6 -483.8,-990.5 -1159.2,-1835.6 -1879.7,-2616.7 l -105.7,88.2 c 618.4,851.9 1174.3,1759.1 1509.1,2725.6 327.7,927.6 389.7,1934.5 -7.5,2728.8"/>
                                </g>
                            </g>
                        </svg>
                        <h1 class="logo__title">LibreAudio</h1>
                    </div>
                </a>
            </div>

            <nav class="top-nav" aria-label="Menu">
                <button class="top-nav__burger-button" tabindex="-1" aria-hidden="true">
                    <div class="top-nav__burger-button-line-1"></div>
                    <div class="top-nav__burger-button-line-2"></div>
                    <div class="top-nav__burger-button-line-3"></div>
                </button>
                <ul class="top-nav__menu">
                    {% set currentRoute = app.request.get('_route') %}
                    {% if currentRoute == 'app_index' %}
                        <li><a href="{{ path('app_index') }}" target="_self" class="top-nav__link top-nav__link--current">Accueil</a></li>
                    {% else %}
                        <li><a href="{{ path('app_index') }}" target="_self" class="top-nav__link">Accueil</a></li>
                    {% endif %}
                    {% if currentRoute == 'app_library' %}
                        <li><a href="{{ path('app_library') }}" target="_self" class="top-nav__link top-nav__link--current">Livres audio</a></li>
                    {% else %}
                        <li><a href="{{ path('app_library') }}" target="_self" class="top-nav__link">Livres audio</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                        {% if currentRoute == 'app_user' %}
                            <li><a href="{{ path('app_user') }}" target="_self" class="top-nav__link top-nav__link--current">Favoris</a></li>
                        {% else %}
                            <li><a href="{{ path('app_user') }}" target="_self" class="top-nav__link">Favoris</a></li>
                        {% endif %}
                    {% endif %}
                    {% if currentRoute == 'app_about' %}
                        <li><a href="{{ path('app_about') }}" target="_self" class="top-nav__link top-nav__link--current">À propos</a></li>
                    {% else %}
                        <li><a href="{{ path('app_about') }}" target="_self" class="top-nav__link">À propos</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('app_admin') }}" target="_self" class="top-nav__link">Administration</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('app_logout') }}" target="_self" class="top-nav__link">Déconnexion</a></li>
                    {% else %}
                        {% if currentRoute == 'app_login' %}
                            <li><a href="{{ path('app_login') }}" target="_self" class="top-nav__link top-nav__link--current">Connexion</a></li>
                        {% else %}
                            <li><a href="{{ path('app_login') }}" target="_self" class="top-nav__link">Connexion</a></li>
                        {% endif %}
                        {% if currentRoute == 'app_registration' %}
                            <li><a href="{{ path('app_registration') }}" target="_self" class="top-nav__link top-nav__link--current">Inscription</a></li>
                        {% else %}
                            <li><a href="{{ path('app_registration') }}" target="_self" class="top-nav__link">Inscription</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </nav>

            <div class="overlay" aria-hidden="true"></div>

        </header>
    {% endblock %}

    {% block main %}
    {% endblock %}

    {% block footer %}
        <footer>

            <div class="footnotes">
                <div><a href="{{ url('app_contact') }}" target="_self">Contact</a></div>
                <div><a href="{{ url('app_conditions') }}" target="_self">Conditions générales d'utilisation (CGU)</a></div>
                <div class="footnotes__social">
                    <a rel="me" href="https://mamot.fr/@libreaudio" target="_blank" aria-label="Accéder au profil Mastodon de LibreAudio">
                        <svg aria-hidden="true" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M23.268 5.313c-.35-2.578-2.617-4.61-5.304-5.004C17.51.242 15.792 0 11.813 0h-.03c-3.98 0-4.835.242-5.288.309C3.882.692 1.496 2.518.917 5.127.64 6.412.61 7.837.661 9.143c.074 1.874.088 3.745.26 5.611.118 1.24.325 2.47.62 3.68.55 2.237 2.777 4.098 4.96 4.857 2.336.792 4.849.923 7.256.38.265-.061.527-.132.786-.213.585-.184 1.27-.39 1.774-.753a.057.057 0 0 0 .023-.043v-1.809a.052.052 0 0 0-.02-.041.053.053 0 0 0-.046-.01 20.282 20.282 0 0 1-4.709.545c-2.73 0-3.463-1.284-3.674-1.818a5.593 5.593 0 0 1-.319-1.433.053.053 0 0 1 .066-.054c1.517.363 3.072.546 4.632.546.376 0 .75 0 1.125-.01 1.57-.044 3.224-.124 4.768-.422.038-.008.077-.015.11-.024 2.435-.464 4.753-1.92 4.989-5.604.008-.145.03-1.52.03-1.67.002-.512.167-3.63-.024-5.545zm-3.748 9.195h-2.561V8.29c0-1.309-.55-1.976-1.67-1.976-1.23 0-1.846.79-1.846 2.35v3.403h-2.546V8.663c0-1.56-.617-2.35-1.848-2.35-1.112 0-1.668.668-1.67 1.977v6.218H4.822V8.102c0-1.31.337-2.35 1.011-3.12.696-.77 1.608-1.164 2.74-1.164 1.311 0 2.302.5 2.962 1.498l.638 1.06.638-1.06c.66-.999 1.65-1.498 2.96-1.498 1.13 0 2.043.395 2.74 1.164.675.77 1.012 1.81 1.012 3.12z"/>
                        </svg>
                    </a>
                    <a rel="me" href="https://gitlab.com/paulnicoue/libreaudio" target="_blank" aria-label="Accéder au dépôt GitLab de LibreAudio">
                        <svg aria-hidden="true" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="m23.6004 9.5927-.0337-.0862L20.3.9814a.851.851 0 0 0-.3362-.405.8748.8748 0 0 0-.9997.0539.8748.8748 0 0 0-.29.4399l-2.2055 6.748H7.5375l-2.2057-6.748a.8573.8573 0 0 0-.29-.4412.8748.8748 0 0 0-.9997-.0537.8585.8585 0 0 0-.3362.4049L.4332 9.5015l-.0325.0862a6.0657 6.0657 0 0 0 2.0119 7.0105l.0113.0087.03.0213 4.976 3.7264 2.462 1.8633 1.4995 1.1321a1.0085 1.0085 0 0 0 1.2197 0l1.4995-1.1321 2.4619-1.8633 5.006-3.7489.0125-.01a6.0682 6.0682 0 0 0 2.0094-7.003z"/>
                        </svg>
                    </a>
                </div>
            </div>

            <a class="back-to-top-button" href="#haut-de-la-page" target="_self" aria-label="Retourner en haut de la page">
                <svg viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M8.12 14.71L12 10.83l3.88 3.88c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L12.7 8.71c-.39-.39-1.02-.39-1.41 0L6.7 13.3c-.39.39-.39 1.02 0 1.41.39.38 1.03.39 1.42 0z"/>
                </svg>
            </a>

        </footer>
    {% endblock %}

</body>

</html>
