{% extends "base.html.twig" %}

{% block title %}
    <title>LibreAudio | Conditions générales d'utilisation (CGU)</title>
{% endblock %}

{% block main %}
    <main>

        <section class="conditions-section">

            <article class="conditions">
                <div class="conditions__title">
                    <h2>Conditions générales d'utilisation (CGU)</h2>
                </div>
                <p>Les présentes conditions générales d'utilisation (dites «&nbsp;CGU&nbsp;») ont pour objet l'encadrement juridique des modalités de mise à disposition du site internet LibreAudio et de définir ses conditions d’accès et d’utilisation de ses services par «&nbsp;l'Utilisateur&nbsp;». Les présentes CGU sont accessibles sur le site à la rubrique «&nbsp;Conditions générales d'utilisation (CGU)&nbsp;».</p>
                <p>Toute inscription ou utilisation du site implique l'acceptation sans aucune réserve ni restriction des présentes CGU par l’utilisateur. Lors de l'inscription sur le site via le formulaire d’inscription, chaque utilisateur accepte expressément les présentes CGU en cochant la case associée au texte suivant&nbsp;: «&nbsp;J'accepte les conditions générales d'utilisation de LibreAudio&nbsp;».</p>
                <p>En cas de non-acceptation des CGU stipulées dans le présent contrat, l'Utilisateur se doit de renoncer à l'accès au services proposés par le site.</p>
                <p>LibreAudio se réserve le droit de modifier unilatéralement et à tout moment le contenu des présentes CGU.</p>
                <h3>Article 1&nbsp;: Mentions légales</h3>
                <p>L’édition et la direction de la publication du site LibreAudio est assurée par Monsieur Paul Nicoué, domicilié au 16 rue Montoise, 72000 Le Mans. Adresse e-mail : <a href="mailto:contact@libreaudio.fr" target="_blank">contact@libreaudio.fr</a>.</p>
                <p>L'hébergeur du site LibreAudio est la société Gandi SAS, dont le siège social est situé au 63, 65 boulevard Massena, 75013 Paris. Numéro de téléphone&nbsp;: +33170377661.
                <h3>Article 2&nbsp;: Accès au site</h3>
                <p>Le site LibreAudio permet à l'Utilisateur un accès gratuit à la consultation de livres audio distribués sous licences libres.</p>
                <p>Le site est accessible gratuitement en tout lieu à tout Utilisateur ayant un accès à Internet. Tous les frais supportés par l'Utilisateur pour accéder au service (matériel informatique, logiciels, connexion internet, etc.) sont à sa charge.</p>
                <p>L’Utilisateur non membre n'a pas accès aux services réservés. Pour cela, il doit s’inscrire en remplissant le formulaire. En acceptant de s’inscrire aux services réservés, l’Utilisateur membre s’engage à fournir des informations sincères et exactes concernant ses coordonnées, notamment son adresse e-mail.</p>
                <p>Pour accéder aux services, l’Utilisateur doit ensuite s'identifier à l'aide de son adresse e-mail et d'un mot de passe qu'il définit lui-même et qui est strictement personnel. À ce titre, il s’en interdit toute divulgation. Dans le cas contraire, il reste seul responsable de l’usage qui en est fait.</p>
                <p>Tout Utilisateur membre régulièrement inscrit peut solliciter sa désinscription en envoyant un email à&nbsp;: <a href="mailto:contact@libreaudio.fr" target="_blank">contact@libreaudio.fr</a>. Celle-ci sera effective dans un délai raisonnable.</p>
                <p>Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du site ou serveur et sous réserve de toute interruption ou modification en cas de maintenance, n'engage pas la responsabilité de LibreAudio. Dans ces cas, l’Utilisateur accepte ainsi ne pas tenir rigueur à l’éditeur de toute interruption ou suspension de service, même sans préavis.</p>
                <p>L'Utilisateur a la possibilité de contacter le site par messagerie électronique à l’adresse email de l’éditeur communiqué à l’Article 1.</p>
                <h3>Article 3&nbsp;: Collecte des données</h3>
                <p>Le site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.</p>
                <p>En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit par e-mail à l'adresse <a href="mailto:contact@libreaudio.fr" target="_blank">contact@libreaudio.fr</a>.</p>
                <h3>Article 4&nbsp;: Propriété intellectuelle</h3>
                <p>Les marques, logos, signes ainsi que les contenus du site (textes, images, son, etc.) font l'objet d'une protection par le Code de la propriété intellectuelle et plus particulièrement par le droit d'auteur.</p>
                <p>L'Utilisateur doit solliciter l'autorisation préalable du site pour toute reproduction, publication ou copie des contenus qui ne sont pas explicitement indiqués comme distribués sous licence libre. Il s'engage à une utilisation des contenus du site dans un cadre strictement privé, toute utilisation à des fins commerciales et publicitaires est strictement interdite.</p>
                <p>Toute représentation totale ou partielle de ce site par quelque procédé que ce soit, sans l’autorisation expresse de l’exploitant du site internet constituerait une contrefaçon sanctionnée par l’article L 335-2 et suivants du Code de la propriété intellectuelle.</p>
                <p>Il est rappelé conformément à l’article L122-5 du Code de propriété intellectuelle que l’Utilisateur qui reproduit, copie ou publie le contenu protégé doit citer l’auteur et sa source.</p>
                <h3>Article 5&nbsp;: Responsabilité</h3>
                <p>Les sources des informations diffusées sur le site LibreAudio sont réputées fiables mais le site ne garantit pas qu’il soit exempt de défauts, d’erreurs ou d’omissions.</p>
                <p>Les informations communiquées sont présentées à titre indicatif et général sans valeur contractuelle. Malgré des mises à jour régulières, le site LibreAudio ne peut être tenu responsable de la modification des dispositions administratives et juridiques survenant après la publication. De même, le site ne peut être tenu responsable de l’utilisation et de l’interprétation de l’information contenue dans ce site.</p>
                <p>L’Utilisateur s’assure de garder son mot de passe secret. Toute divulgation du mot de passe, quelle que soit sa forme, est interdite. Il assume les risques liés à l’utilisation de son identifiant et de son mot de passe. Le site décline toute responsabilité.</p>
                <p>Le site LibreAudio ne peut être tenu pour responsable d’éventuels virus qui pourraient infecter l’ordinateur ou tout matériel informatique de l’Utilisateur, suite à l’accès au site, ou au téléchargement de fichiers provenant de ce même site.</p>
                <p>La responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.</p>
                <h3>Article 6&nbsp;: Liens hypertextes</h3>
                <p>Des liens hypertextes peuvent être présents sur le site. L’Utilisateur est informé qu’en cliquant sur ces liens, il sortira du site LibreAudio. Ce dernier n’a pas de contrôle sur les pages web sur lesquelles aboutissent ces liens et ne saurait, en aucun cas, être responsable de leur contenu.</p>
                <h3>Article 7&nbsp;: Cookies</h3>
                <p>L’Utilisateur est informé que lors de ses visites sur le site, des fichiers texte désignés par l'appellation «&nbsp;cookies&nbsp;» peuvent être installés temporairement sur son ordinateur ou terminal mobile. En naviguant sur le site, l’Utilisateur les accepte.</p>
                <p>Les cookies auxquels à recours LibreAudio ont pour stricte finalité l'utilisation des fonctionnalités du site, telle que l'authentification de l'Utilisateur membre. Aucun de ces cookies n'est lié aux réseaux sociaux ou à des opérations relatives à de la publicité personnalisée. Selon les <a href="https://www.cnil.fr/fr/cookies-et-traceurs-que-dit-la-loi" target="_blank">recommendations de la CNIL</a>, l'autorité française de protection des données, leur utilisation est par conséquent exempte de consentement préalable de la part de l'Utilisateur.</p>
                <p>L’Utilisateur peut cependant désactiver ces cookies par l’intermédiaire des paramètres figurant au sein de son logiciel de navigation. Dans ce cas de figure, certaines fonctionnalités risquent de lui être refusées.</p>
                <h3>Article 8&nbsp;: Droit applicable et juridiction compétente</h3>
                <p>La législation française s'applique au présent contrat. En cas d'absence de résolution amiable d'un litige né entre les parties, les tribunaux français seront seuls compétents pour en connaître. Pour toute question relative à l’application des présentes CGU, vous pouvez joindre l’éditeur aux coordonnées inscrites à l’Article 1.</p>
            </article>

        </section>

    </main>
{% endblock %}
