{% extends 'base.html.twig' %}

{% block title %}
    <title>LibreAudio | Contact</title>
{% endblock %}

{% block main %}
    <main>

        <section class="contact-section">

            <article class="contact">
                <div class="contact__title">
                    <h2>Contactez-nous</h2>
                </div>
                <div class="contact__catchphrase">
                    <p>Un mot doux, une question ou une critique à nous adresser ?<br>N'hésitez pas à nous contacter à l'adresse e-mail <a href="mailto:contact@libreaudio.fr" target="_blank">contact@libreaudio.fr</a> ou via le formulaire ci-dessous.</p>
                </div>
                <div class="contact__form">
                {{ form_start(contactForm) }}
                    {{ form_row(contactForm.name) }}
                    {{ form_row(contactForm.email) }}
                    {{ form_row(contactForm.subject) }}
                    {{ form_row(contactForm.message) }}
                    {% if form_errors(contactForm) %}
                        <div class="contact__errors">
                            {{ form_errors(contactForm) }}
                        </div>
                    {% endif %}
                    {% for flashMessage in app.flashes('contact_success') %}
                        <p>{{ flashMessage }}</p>
                    {% endfor %}
                    <button type="submit">Valider</button>
                {{ form_end(contactForm) }}
                </div>
            </article>

        </section>

    </main>
{% endblock %}
