{% extends "base.html.twig" %}

{% block title %}
    <title>LibreAudio | Accueil</title>
{% endblock %}

{% block main %}
    <main>

        <section class="hero-section">

            <div class="hero">
                <div class="hero__title">
                    <h2>La bibliothèque de livres audio gratuite, libre et accessible</h2>
                </div>
                <div class="hero__image" aria-hidden="true">
                    <img src="{{ asset("build/images/libreaudio-a-propos-500px.png") }}" alt="Une femme allongée sur son canapé écoute un livre audio">
                </div>
            </div>

        </section>

        <section class="highlights-section">

            <div class="highlights">
                <div class="highlights__accessibility">
                    <svg class="highlights__accessibility-image" aria-hidden="true" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0V0z" fill="none"/>
                        <path d="M20.75 6.99c-.14-.55-.69-.87-1.24-.75-2.38.53-5.03.76-7.51.76s-5.13-.23-7.51-.76c-.55-.12-1.1.2-1.24.75-.14.56.2 1.13.75 1.26 1.61.36 3.35.61 5 .75v12c0 .55.45 1 1 1s1-.45 1-1v-5h2v5c0 .55.45 1 1 1s1-.45 1-1V9c1.65-.14 3.39-.39 4.99-.75.56-.13.9-.7.76-1.26zM12 6c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z"/>
                    </svg>
                    <h3 class="highlights__accessibility-title">Accessibilité numérique</h3>
                    <p class="highlights__accessibility-text">Une interface limpide, navigable au clavier et compatible avec les lecteurs d'écran.</p>
                </div>
                <div class="highlights__sharing">
                    <svg class="highlights__sharing-image" aria-hidden="true" viewBox="0 0 24 24">
                        <path d="M17.5,4.5c-1.95,0-4.05,0.4-5.5,1.5c-1.45-1.1-3.55-1.5-5.5-1.5c-1.45,0-2.99,0.22-4.28,0.79C1.49,5.62,1,6.33,1,7.14 l0,11.28c0,1.3,1.22,2.26,2.48,1.94C4.46,20.11,5.5,20,6.5,20c1.56,0,3.22,0.26,4.56,0.92c0.6,0.3,1.28,0.3,1.87,0 c1.34-0.67,3-0.92,4.56-0.92c1,0,2.04,0.11,3.02,0.36c1.26,0.33,2.48-0.63,2.48-1.94l0-11.28c0-0.81-0.49-1.52-1.22-1.85 C20.49,4.72,18.95,4.5,17.5,4.5z M21,17.23c0,0.63-0.58,1.09-1.2,0.98c-0.75-0.14-1.53-0.2-2.3-0.2c-1.7,0-4.15,0.65-5.5,1.5V8 c1.35-0.85,3.8-1.5,5.5-1.5c0.92,0,1.83,0.09,2.7,0.28c0.46,0.1,0.8,0.51,0.8,0.98V17.23z"/>
                        <path d="M13.98,11.01c-0.32,0-0.61-0.2-0.71-0.52c-0.13-0.39,0.09-0.82,0.48-0.94c1.54-0.5,3.53-0.66,5.36-0.45 c0.41,0.05,0.71,0.42,0.66,0.83c-0.05,0.41-0.42,0.71-0.83,0.66c-1.62-0.19-3.39-0.04-4.73,0.39 C14.13,10.99,14.05,11.01,13.98,11.01z"/>
                        <path d="M13.98,13.67c-0.32,0-0.61-0.2-0.71-0.52c-0.13-0.39,0.09-0.82,0.48-0.94c1.53-0.5,3.53-0.66,5.36-0.45 c0.41,0.05,0.71,0.42,0.66,0.83c-0.05,0.41-0.42,0.71-0.83,0.66c-1.62-0.19-3.39-0.04-4.73,0.39 C14.13,13.66,14.05,13.67,13.98,13.67z"/>
                        <path d="M13.98,16.33c-0.32,0-0.61-0.2-0.71-0.52c-0.13-0.39,0.09-0.82,0.48-0.94c1.53-0.5,3.53-0.66,5.36-0.45 c0.41,0.05,0.71,0.42,0.66,0.83c-0.05,0.41-0.42,0.7-0.83,0.66c-1.62-0.19-3.39-0.04-4.73,0.39 C14.13,16.32,14.05,16.33,13.98,16.33z"/>
                    </svg>
                    <h3 class="highlights__sharing-title">Partage du savoir</h3>
                    <p class="highlights__sharing-text">{{ audiobookCount }} livres audio distribués sous licences libres par {{ readerCount }} donneuses et donneurs de voix.</p>
                </div>
                <div class="highlights__privacy">
                    <svg class="highlights__privacy-image" aria-hidden="true" viewBox="0 0 24 24">
                        <path d="M21,6.3c0-0.79-0.47-1.51-1.19-1.83l-7-3.11c-0.52-0.23-1.11-0.23-1.62,0l-7,3.11C3.47,4.79,3,5.51,3,6.3V11 c0,5.55,3.84,10.74,9,12c2.3-0.56,4.33-1.9,5.88-3.71l-3.12-3.12c-1.94,1.29-4.58,1.07-6.29-0.64c-1.95-1.95-1.95-5.12,0-7.07 c1.95-1.95,5.12-1.95,7.07,0c1.71,1.71,1.92,4.35,0.64,6.29l2.9,2.9C20.29,15.69,21,13.38,21,11V6.3z"/>
                        <circle cx="12" cy="12" r="3"/>
                    </svg>
                    <h3 class="highlights__privacy-title">Respect de la vie privée</h3>
                    <p class="highlights__privacy-text">Utilisation sans inscription ou en créant un compte avec une simple adresse e-mail.</p>
                </div>
            </div>

        </section>

        <section class="search-box-section">

            <div class="search">
                <h3 class="search__title">Rechercher un livre audio</h3>
                {{ form_start(searchForm, {"attr" : {"role": "search"}}) }}
                    {{ form_row(searchForm.query) }}
                    {{ form_row(searchForm.category) }}
                    {{ form_row(searchForm.order) }}
                    <button class="search__button" type="submit">Rechercher</button>
                {{ form_end(searchForm) }}
            </div>

        </section>

        <section class="featured-section">

            <div class="featured">
                <div class="featured__most-recent">
                    <h3 class="featured__most-recent-title">Récemment ajouté</h3>
                    <article class="featured__most-recent-audiobook audiobook-preview">
                        <div class="audiobook-preview__header">
                            <h3 class="audiobook-preview__title">
                                <a class="audiobook-preview__link" href="{{ url('app_audiobook', { 'slug': mostRecentAudiobook.getSlug() }) }}" target="_self">
                                    <cite>{{ mostRecentAudiobook.getTitle() }}</cite>
                                </a>
                            </h3>
                            {% if app.user %}
                                {% if mostRecentAudiobook in app.user.getAudiobooks() %}
                                    <button class="audiobook-preview__bookmark audiobook-preview__bookmark--filled" audiobook-id="{{ mostRecentAudiobook.getId() }}" aria-label="Retirer {{ mostRecentAudiobook.getTitle() }} de vos livres audio favoris"></button>
                                {% else %}
                                    <button class="audiobook-preview__bookmark" audiobook-id="{{ mostRecentAudiobook.getId() }}" aria-label="Ajouter {{ mostRecentAudiobook.getTitle() }} à vos livres audio favoris"></button>
                                {% endif %}
                            {% endif %}
                            <ul class="audiobook-preview__authors">
                                {% for author in mostRecentAudiobook.getAuthors() %}
                                    <li><a href="{{ url('app_author', { 'slug': author.getSlug() }) }}" target="_self">{{ author.getName() }}</a></li>
                                {% endfor %}
                            </ul>
                            <ul class="audiobook-preview__categories">
                                {% for category in mostRecentAudiobook.getCategories()|sort((a, b) => a.name <=> b.name) %}
                                    <li class="audiobook-preview__category">{{ category.getName() }}</li>
                                {% endfor %}
                            </ul>
                            <ul class="audiobook-preview__data">
                                <li>
                                    <span>Durée&nbsp;: </span>
                                    <span class="audiobook-preview__duration">{{ mostRecentAudiobook.getDuration() }}</span>
                                </li>
                                <li>
                                    <span>Narration&nbsp;: </span>
                                    <ul>
                                        {% for reader in mostRecentAudiobook.getReaders() %}
                                            <li class="audiobook-preview__reader">{{ reader.getName() }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <figure  class="audiobook-preview__summary">{{ mostRecentAudiobook.getSummary()|raw }}</figure>
                        </div>
                    </article>
                </div>
                <div class="featured__most-viewed">
                    <h3 class="featured__most-viewed-title">Le plus consulté</h3>
                    <article class="featured__most-viewed-audiobook audiobook-preview">
                        <div class="audiobook-preview__header">
                            <h3 class="audiobook-preview__title">
                                <a class="audiobook-preview__link" href="{{ url('app_audiobook', { 'slug': mostViewedAudiobook.getSlug() }) }}" target="_self">
                                    <cite>{{ mostViewedAudiobook.getTitle() }}</cite>
                                </a>
                            </h3>
                            {% if app.user %}
                                {% if mostViewedAudiobook in app.user.getAudiobooks() %}
                                    <button class="audiobook-preview__bookmark audiobook-preview__bookmark--filled" audiobook-id="{{ mostViewedAudiobook.getId() }}" aria-label="Retirer {{ mostViewedAudiobook.getTitle() }} de vos livres audio favoris"></button>
                                {% else %}
                                    <button class="audiobook-preview__bookmark" audiobook-id="{{ mostViewedAudiobook.getId() }}" aria-label="Ajouter {{ mostViewedAudiobook.getTitle() }} à vos livres audio favoris"></button>
                                {% endif %}
                            {% endif %}
                            <ul class="audiobook-preview__authors">
                                {% for author in mostViewedAudiobook.getAuthors() %}
                                    <li><a href="{{ url('app_author', { 'slug': author.getSlug() }) }}" target="_self">{{ author.getName() }}</a></li>
                                {% endfor %}
                            </ul>
                            <ul class="audiobook-preview__categories">
                                {% for category in mostViewedAudiobook.getCategories()|sort((a, b) => a.name <=> b.name) %}
                                    <li class="audiobook-preview__category">{{ category.getName() }}</li>
                                {% endfor %}
                            </ul>
                            <ul class="audiobook-preview__data">
                                <li>
                                    <span>Durée&nbsp;: </span>
                                    <span class="audiobook-preview__duration">{{ mostViewedAudiobook.getDuration() }}</span>
                                </li>
                                <li>
                                    <span>Narration&nbsp;: </span>
                                    <ul>
                                        {% for reader in mostViewedAudiobook.getReaders() %}
                                            <li class="audiobook-preview__reader">{{ reader.getName() }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <figure  class="audiobook-preview__summary">{{ mostViewedAudiobook.getSummary()|raw }}</figure>
                        </div>
                    </article>
                </div>
            </div>

        </section>

    </main>
{% endblock %}
