{% extends "base.html.twig" %}

{% block title %}
    <title>LibreAudio | Livres audio</title>
{% endblock %}

{% block main %}
    <main>

        <section class="library-section">

            <div class="library">
                <div class="library__title">
                    <h2>Tous nos livres audio</h2>
                </div>
                <div class="library__search-bar">
                    <div class="search">
                        {{ form_start(searchForm, {"attr" : {"role": "search"}}) }}
                        {{ form_row(searchForm.query) }}
                        {{ form_row(searchForm.category) }}
                        {{ form_row(searchForm.order) }}
                        <button class="search__button" type="submit">Rechercher</button>
                        {{ form_end(searchForm) }}
                    </div>
                </div>
                {% if audiobooks is empty %}
                    <div class="library__no-result">
                        <p>Aucun livre audio ne correspond à votre recherche.<span aria-hidden="true"> (T_T)</span></p>
                    </div>
                {% else %}
                    {% for audiobook in audiobooks %}
                        <article class="audiobook-preview">
                            <div class="audiobook-preview__header">
                                <h3 class="audiobook-preview__title">
                                    <a class="audiobook-preview__link" href="{{ url('app_audiobook', { 'slug': audiobook.getSlug() }) }}" target="_self">
                                        <cite>{{ audiobook.getTitle() }}</cite>
                                    </a>
                                </h3>
                                {% if app.user %}
                                    {% if audiobook in app.user.getAudiobooks() %}
                                        <button class="audiobook-preview__bookmark audiobook-preview__bookmark--filled" audiobook-id="{{ audiobook.getId() }}" aria-label="Retirer {{ audiobook.getTitle() }} de vos livres audio favoris"></button>
                                    {% else %}
                                        <button class="audiobook-preview__bookmark" audiobook-id="{{ audiobook.getId() }}" aria-label="Ajouter {{ audiobook.getTitle() }} à vos livres audio favoris"></button>
                                    {% endif %}
                                {% endif %}
                                <ul class="audiobook-preview__authors">
                                    {% for author in audiobook.getAuthors() %}
                                        <li><a href="{{ url('app_author', { 'slug': author.getSlug() }) }}" target="_self">{{ author.getName() }}</a></li>
                                    {% endfor %}
                                </ul>
                                <ul class="audiobook-preview__categories">
                                    {% for category in audiobook.getCategories()|sort((a, b) => a.name <=> b.name) %}
                                        <li class="audiobook-preview__category">{{ category.getName() }}</li>
                                    {% endfor %}
                                </ul>
                                <ul class="audiobook-preview__data">
                                    <li>
                                        <span>Durée&nbsp;: </span>
                                        <span class="audiobook-preview__duration">{{ audiobook.getDuration() }}</span>
                                    </li>
                                    <li>
                                        <span>Narration&nbsp;: </span>
                                        <ul>
                                            {% for reader in audiobook.getReaders() %}
                                                <li class="audiobook-preview__reader">{{ reader.getName() }}</li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <figure  class="audiobook-preview__summary">{{ audiobook.getSummary()|raw }}</figure>
                            </div>
                        </article>
                    {% endfor %}
                {% endif %}
                <div>
                    {{ knp_pagination_render(audiobooks, 'pagination.html.twig') }}
                </div>

            </div>

        </section>

    </main>
{% endblock %}
