{% if pageCount > 1 %}
    <nav class="pagination" aria-label="Pagination">
        <ul class="pagination__page-list">
            {% if first is defined and first not in pagesInRange %}
                <li class="pagination__page">
                    <a href="{{ path(route, query|merge({(pageParameterName): first})) }}" target="_self" aria-label="Aller à la première page">{{ first }}</a>
                </li>
                {% if previous is defined and first < (previous - 2) %}
                <div class="pagination__ellipsis" aria-hidden="true">
                    <span>&hellip;</span>
                </div>
                {% endif %}
            {% endif %}
            {% for page in pagesInRange %}
                {% if current is defined and page == current %}
                    <li class="pagination__page pagination__page--current" aria-current="page" aria-label="Vous êtes actuellement sur la page {{ page }}">
                        <span>{{ page }}</span>
                    </li>
                {% elseif first is defined and page == first %}
                    <li class="pagination__page">
                        <a href="{{ path(route, query|merge({(pageParameterName): first})) }}" target="_self" aria-label="Aller à la première page">{{ first }}</a>
                    </li>
                {% elseif last is defined and page == last %}
                    <li class="pagination__page">
                        <a href="{{ path(route, query|merge({(pageParameterName): last})) }}" target="_self" aria-label="Aller à la page {{ last }} (dernière page)">{{ last }}</a>
                    </li>
                {% else %}
                <li class="pagination__page">
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}" target="_self" aria-label="Aller à la page {{ page }}">{{ page }}</a>
                </li>
                {% endif %}
            {% endfor %}
            {% if last is defined and last not in pagesInRange %}
                {% if next is defined and last > (next + 2) %}
                <div class="pagination__ellipsis" aria-hidden="true">
                    <span>&hellip;</span>
                </div>
                {% endif %}
                <li class="pagination__page">
                    <a href="{{ path(route, query|merge({(pageParameterName): last})) }}" target="_self" aria-label="Aller à la page {{ last }} (dernière page)">{{ last }}</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
