/* ===========================================================================
ANIMATIONS
=========================================================================== */

@keyframes fade-in-from-bottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes single-auto-scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes infinite-auto-scroll {
    0% {
        transform: translateX(var(--audio-player-data-width));
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes waveform {
    25% {
        height: 100%;
        background-color: var(--raisin-black);
    }
}

/* Animated classes */

.fade-in-from-bottom {
    animation: fade-in-from-bottom 600ms ease-in-out;
}
