/* ===========================================================================
FONTS
=========================================================================== */

/* Montserrat */

@font-face {
    font-family: 'Montserrat';
    src: url(/assets/fonts/montserrat/Montserrat-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(/assets/fonts/montserrat/Montserrat-Italic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url(/assets/fonts/montserrat/Montserrat-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(/assets/fonts/montserrat/Montserrat-MediumItalic.ttf) format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url(/assets/fonts/montserrat/Montserrat-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(/assets/fonts/montserrat/Montserrat-SemiBoldItalic.ttf) format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url(/assets/fonts/montserrat/Montserrat-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(/assets/fonts/montserrat/Montserrat-BoldItalic.ttf) format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* Comfortaa */

@font-face {
    font-family: 'Comfortaa';
    src: url(/assets/fonts/comfortaa/Comfortaa-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url(/assets/fonts/comfortaa/Comfortaa-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url(/assets/fonts/comfortaa/Comfortaa-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url(/assets/fonts/comfortaa/Comfortaa-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}
