/* ===========================================================================
VARIABLES
=========================================================================== */

:root {

    /* Fonts */

    --text-font-family: 'Montserrat', Verdana, sans-serif;
    --title-font-family: 'Comfortaa', Verdana, sans-serif;

    --regular-font-weight: 400;
    --medium-font-weight: 500;
    --semi-bold-font-weight: 600;
    --bold-font-weight: 700;

    --text-font-size: 1rem;
    --small-text-font-size: 0.9rem;
    --h1-font-size: 1.2rem;
    --h2-font-size: 1.4rem;
    --h3-font-size: 1.2rem;
    --h4-font-size: 1rem;

    --medium-line-height: 1.2rem;
    --tall-line-height: 1.6rem;

    /* Dimensions */

    --header-height: 66px;
    --generic-section-max-width: 70rem;
    --generic-section-smartphone-padding: 2rem 1rem;
    --generic-section-tablet-padding: 4rem 2rem;
    --highlights-section-smartphone-padding: 2rem 1rem;
    --highlights-section-tablet-padding: 2rem 2rem 4rem 2rem;
    --search-box-section-smartphone-padding: 2rem 0;
    --search-box-section-tablet-padding: 4rem 0;
    --audiobook-section-smartphone-padding: 2rem 0.5rem;
    --audiobook-section-tablet-padding: 4rem 2rem;

    /* Colors */

    --black: #000;
    --raisin-black: #1c1c21;
    --roman-silver: #868698;
    --lavender-gray: #c8c8d0;
    --cultured: #f4f4f4;
    --white: #fff;
    --maximum-blue-purple: #b1b1fb;
    --ocean-blue: #5b2cc9;
    --russian-violet: #1e1042;
    --crimson-ua: #9d1b2a;
    --pumpkin: #f57828;

    /* Borders */

    --regular-border-radius: 4px;
    --small-border-radius: 2px;

    /* Shadows */

    --regular-box-shadow:
        0px 0px 0.8px rgba(0, 0, 0, 0.1),
        0px 0px 1.8px rgba(0, 0, 0, 0.076),
        0px 0px 3.2px rgba(0, 0, 0, 0.065),
        0px 0px 5px rgba(0, 0, 0, 0.057),
        0px 0px 7.7px rgba(0, 0, 0, 0.05),
        0px 0px 12.1px rgba(0, 0, 0, 0.043),
        0px 0px 20px rgba(0, 0, 0, 0.035),
        0px 0px 40px rgba(0, 0, 0, 0.024);
    --link-inset-box-shadow: inset 0 -1.2rem 0 0 var(--maximum-blue-purple);
    --button-inset-box-shadow: inset 0 0 0 1px var(--ocean-blue);

    /*Animations*/

    --audio-player-data-width: 0;
    --auto-scroll-duration: 0;

    /* Plyr (audio player) */

    --plyr-font-family: 'Montserrat', Verdana, sans-serif;
    --plyr-font-size-base: 1rem;
    --plyr-font-size-small: 0.9rem;
    --plyr-font-size-large: 1.1rem;
    --plyr-font-size-xlarge: 1.2rem;
    --plyr-font-size-time: 0.9rem;
    --plyr-font-size-menu: 0.9rem;
    --plyr-font-size-badge: 0.8rem;
    --plyr-color-main: var(--maximum-blue-purple);
    --plyr-badge-background: var(--white);
    --plyr-badge-text-color: var(--russian-violet);
    --plyr-captions-text-color: var(--russian-violet);
    --plyr-audio-controls-background: transparent;
    --plyr-audio-control-color: var(--white);
    --plyr-audio-control-color-hover: var(--russian-violet);
    --plyr-progress-loading-background: var(--white);
    --plyr-audio-progress-buffered-background: var(--white);
    --plyr-range-thumb-background: var(--white);
    --plyr-range-thumb-shadow: none;
    --plyr-audio-range-thumb-active-shadow-color: none;
    --plyr-tooltip-background: var(--maximum-blue-purple);
    --plyr-tooltip-color: var(--russian-violet);
    --plyr-tooltip-shadow: none;
}
