{% extends 'base.html.twig' %}

{% block title %}
    <title>LibreAudio | Erreur {{ status_code }}</title>
{% endblock %}

{% block main %}
    <main>

        <a id="page-top"></a>

        <section class="error-section">

            <article class="error">
                <div class="error__title">
                    <h2>Erreur {{ status_code }}</h2>
                </div>
                {% if status_code == 404 %}
                    <p>Nous n'avons pas trouvé la page que vous demandez.<span aria-hidden="true"> ¯\(°_o)/¯</span></p>
                {% else %}
                    <p>Une erreur est survenue.<span aria-hidden="true"> ¯\(°_o)/¯</span></p>
                {% endif %}
                <div class="error__button">
                    <a href="{{ path('app_index') }}" target="_self">Retourner à la page d'accueil</a>
                </div>
            </article>

        </section>

    </main>
{% endblock %}
